<header style="background-color: #800">
    <div class="container">
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" [routerLink]="'/'">
                <img alt="HGNC" src="/img/pgnc/pgnc-logo-dark-bckgrnd-small.svg" />
            </a>
            <button
                class="navbar-toggler"
                type="button"
                (click)="isMenuCollapsed = !isMenuCollapsed"
            >
                <fa-icon [icon]="faBars"></fa-icon>
            </button>
            <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse search-bar-comp">
                <div class="navbar-form navbar-right search-bar" role="search">
                    <app-search-bar></app-search-bar>
                </div>
            </div>

            <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse nav-comp">
                <app-nav></app-nav>
            </div>
        </nav>
    </div>
</header>
