.card {
    margin-bottom: 2ch;
}
.key-val-pairs {
    display: grid;
    grid-template-columns: auto;
    row-gap: 0;
}
.key {
    font-weight: bold;
    justify-self: start;
    min-width: 160px;
}

.val {
    justify-self: start;
    margin-bottom: 1ch;
    padding-left: 1ch;
}

.val ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 576px) {
    .key-val-pairs {
        display: grid;
        grid-template-columns: 24ch auto;
        column-gap: 2ch;
        row-gap: 1ch;
    }

    .key {
        justify-self: end;
    }

    .val {
        justify-self: start;
        margin: 0;
    }
}

@media (min-width: 768px) {
    .key-val-pairs {
        grid-template-columns: 24ch auto 20ch auto;
        column-gap: 2ch;
        row-gap: 1ch;
    }
}
