<app-header />
<div class="container">
    <h1>About the PGNC</h1>
    <p>
        Culpa fugiat Lorem deserunt nostrud qui. Incididunt sunt sit veniam magna in id
        reprehenderit consectetur laborum dolore enim minim cillum ullamco. Est nisi est ut
        reprehenderit anim magna commodo ad laboris. Ex excepteur cillum minim incididunt et.
    </p>
    <p>
        Anim proident mollit cupidatat nostrud cillum magna voluptate ex laboris adipisicing ad
        consequat. Sunt culpa dolor est enim et in non dolor ipsum eu. Excepteur in adipisicing
        consectetur Lorem do duis esse enim sit quis duis incididunt. Proident quis adipisicing
        incididunt nulla velit amet eiusmod tempor laboris adipisicing. Eu in amet eiusmod laboris
        deserunt aute pariatur amet anim incididunt enim labore in aliqua. Aliquip est nisi et
        exercitation sunt ad sit esse tempor nisi amet.
    </p>
    <p>
        Sit irure velit elit proident cupidatat ut. Incididunt tempor ipsum laborum ad fugiat.
        Consectetur commodo magna anim officia amet mollit. Commodo esse elit ullamco Lorem elit
        officia velit esse dolor aliquip. Labore officia nulla non aliquip elit aute aliquip ad quis
        duis proident enim aute mollit. Labore culpa laboris tempor aliquip irure eu mollit.
    </p>
</div>
