<div class="navbar-nav">
    <div class="nav-item">
        <a class="nav-link" [routerLink]="['/']"><fa-icon [icon]="faHome" /></a>
    </div>
    <div class="nav-item">
        <a class="nav-link" [routerLink]="['/search']" [queryParams]="{ q: '*' }">Gene data</a>
    </div>
    <div class="nav-item">
        <a class="nav-link deactivated">Downloads</a>
    </div>
    <div class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']">Contact us</a>
    </div>
    <div ngbDropdown class="nav-item" role="presentation">
        <button type="button" class="nav-link" ngbDropdownToggle>More</button>
        <div ngbDropdownMenu>
            <button ngbDropdownItem [routerLink]="['/about']">About the PGNC</button>
            <button ngbDropdownItem class="deactivated">Another action</button>
            <button ngbDropdownItem class="deactivated">Something else here</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem class="deactivated">Separated link</button>
        </div>
    </div>
    <div class="nav-item">
        <a class="nav-link deactivated">Request symbol <fa-icon [icon]="faEnvelope"></fa-icon></a>
    </div>
</div>
