<div class="social-media-block">
    <a class="social-media" href="https://bsky.app/profile/hgnc.bsky.social" target="_self"
        ><fa-icon [icon]="faBluesky"></fa-icon
    ></a>
    <a class="social-media" href="https://twitter.com/genenames" target="_self"
        ><fa-icon [icon]="faXTwitter"></fa-icon
    ></a>
    <a class="social-media" href="https://github.com/HGNC" target="_self"
        ><fa-icon [icon]="faGithub"></fa-icon
    ></a>
    <a
        class="social-media"
        href="https://www.youtube.com/channel/UCqGBx2FrgmeXlbeRTCkvI3g"
        target="_self"
        ><fa-icon [icon]="faYoutube"></fa-icon
    ></a>
    <a class="social-media" href="https://blog.genenames.org" target="_self"
        ><fa-icon [icon]="faBlog"></fa-icon
    ></a>
    <a class="social-media last" href="/contact/feedback" target="_self"
        ><fa-icon [icon]="faComment"></fa-icon
    ></a>
</div>
