body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.default-header, .default-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.default-main {
    flex: 1;
}

.default-header header {
    width: 100%;
    display: flex;
}

.default-footer footer {
    width: 100%;
}

main {
    h1, h2, h3, h4  {
        color: #800;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 14px;
    }
}

a {
    color: #337ab7;
    text-decoration: none;
}

em.match {
    color: #c30;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.navbar-nav .nav-link.deactivated,
.dropdown-item.deactivated,
a.deactivated {
    color: grey !important;
}
.footer-top {
    border-top: 6px solid #c0c3c6;
}

.footer-bottom {
    border-top: 1px solid #ebedee;
    background-color: #d0d3d6;
}

/* :not(main#homepage) {} */
