.card,
.card-header {
    border-color: #fab800;
}

.card {
    margin-bottom: 2ch;
}

.card-header {
    background-color: #fab800;
}

.key-val-pairs {
    display: grid;
    grid-template-columns: auto;
    row-gap: 0;
}

.key {
    font-weight: bold;
    justify-self: start;
}

.val {
    justify-self: start;
    margin-bottom: 1ch;
    padding-left: 1ch;
}

@media (min-width: 576px) {
    .key-val-pairs {
        display: grid;
        grid-template-columns: 24ch auto;
        column-gap: 2ch;
        row-gap: 1ch;
    }

    .key {
        justify-self: end;
    }

    .val {
        justify-self: start;
        margin: 0;
    }
}
