<div id="homepage" class="jumbotron">
    <app-home-header />
    <div class="wrap">
        <div class="container">
            <div class="larger-screens">
                <div class="home-interface">
                    <div class="row">
                        <div class="col-xs-12 logo">
                            <div class="pgnc-logo-block">
                                <h1>
                                    <img
                                        alt="PGNC - Plant Gene Nomenclature Committee"
                                        src="/img/pgnc/pgnc-logo-dark-bckgrnd-large.svg" />
                                </h1>
                            </div>
                            <div class="tag-line">
                                The resource for approved plant gene nomenclature
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 search-container">
                            <div class="search-bar">
                                <app-home-search-bar />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
