<div class="container">
    <h1>Publications</h1>
    <table class="table disabled">
        <tbody>
            <tr>
                <td><strong><a data-ng-anchor="#recent" href="/#recent">2025</a></strong>
                </td>
            </tr>
        </tbody>
    </table>
    <h2><a id="recent"></a>2025</h2>
    <p>Tweedie S, Martin S, Bruford E. <strong>Towards an official gene nomenclature for <em>Populus
                trichocarpa</em></strong>. Tree Physiology. 2025 May 09. DOI: <a
            href="https://doi.org/10.1093/treephys/tpaf054">10.1093/treephys/tpaf054</a>.</p>
</div>